body {
    height: 100%;
    overflow: hidden;
  }
  
.Banner {
    background-color: #7AA0EB;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 75vw; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.rectanguloInformacionZona{
    position: absolute;
    top: 30%;
    height: 50%;
    width: 90%;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #DEE4F5;
    border: 1px solid #385557;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  #textoNombreZona {
      position: absolute;
      top: 33%;
      font-size: 32px;
  }
  #ImagenZona{
      position: absolute;
      top: 40%;
  }
  #textoDescripcionZona {
      position: absolute;
     border-radius: 10px;
     width: 70%;
     height: 8%;
     top: 68%;
     background-color: #e4e5ea;
  }
.Contenedor {
    height: 100vh;
    left: 25vw;
    width: 80vw;
    background-color: #f9f9f9;
    position: relative;
}
.RectanguloSup{
    height: 10%;
    background-color: #D8DBE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    padding-top: 14px;
    padding-left: 20px; /* Ajusta la distancia desde el borde izquierdo */
}
.logo-container {
    margin-right: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #E9EBEF;
    border: 1px solid #32374f30;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  }
#logo {
    max-width: calc(100% - 8px); /* Reducimos 4 píxeles en cada lado */
    max-height: calc(100% - 8px); /* Reducimos 4 píxeles en cada lado */
    margin: -4px; /* Agregamos un margen negativo para compensar el tamaño reducido */
  }
#PlantasBTN{
    margin-right: 20px; 
    width: 120px;
    color: #000D27;
    background-color: #E0DDD8;
    border: 1px solid #000d2766;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}
.RectanguloAzul{
    height: 15%;
    background-color: #7AA0EB;
    display: flex;
}
.rectanguloInformacionPlanta{
  position: absolute;
  top: 9%;
  height: 13%;
  width: 60%;
  left: 15%;
  border-radius: 25px;
  margin-top: 15px;
  background-color: #DEE4F5;
  border: 1px solid #385557;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}
#textoNombrePlanta{
    position: absolute;
    font-size: 24px;
    top: 12%;
    left: 21%;
}
#textoDescripcionPlanta {
    position: absolute;
    top: 18%;
    left: 21%;
    border-radius: 10px;
    width: 300px;
    background-color: #eceef5;
 }
 #ImagenPlanta{
  position: absolute;
  top: 14%;
  left: 15%;
 }
.RectanguloMenu{
    height: 5%;
    background-color: #ECEDF2;
    display: flex;
    padding-left: 250px;
}
.SensoresYActuadoresLink{
    background-color: #9FBDF7;
    width: 210px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #474747;
    cursor: pointer;
}
.AjustesLink{
    background-color: #7AA0EB;
    width: 90px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #474747;
    cursor: pointer;
}
.RectanguloPrincipal{
    height: 70%;
    background-color: #ECEDF2;
}
.ContainerHumedad{
    background-color: #e0e4e8;
    color: #385557;
    border: 1px solid #000d276a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 25%;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 18%;
    top: 40%;
}
#ActualizarBTN{
    width: 120px;
    color: #000D27;
    background-color: #a2d0e0;
    border: 1px solid #000d2766;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 37%;
    top: 70%;
}





